.CategoryNavLayout {
    grid-area: main;
    background-color: red;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
            "bg bg bg bg bg bg bg bg bg bg bg bg"
            ". items items items items items items items items items items .";
    column-gap: 24px;
}

.Bg {
    background-color: grey;
    grid-area: bg;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Items {
    grid-area: items;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.Item {
    background-color: blue;
    height: 100px;
    width: 100px;
    margin: 12px;
}

.MiddleBox {
    width: 522px;
    height: 44px;
    background-color: purple;
    position: absolute;
    bottom: -22px;
}